@using Microsoft.AspNetCore.Server.HttpSys
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using MudBlazor.Utilities
@inherits LayoutComponentBase

<MudThemeProvider  Theme="_neilSeniorTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<MudAppBar Class="d-flex justify-center" Style="flex-wrap: nowrap">
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="DrawerToggle" Class="d-lg-none" />
		<MudLink Href="/">
			<MudImage Src="/Images/Logo.svg" Alt="Neil Senior Logo" Fluid="false" Class="d-lg-block" Style="display: block; margin-left: auto; margin-right: auto;" />
		</MudLink>
		<AuthorizeView Roles="Admin">
			<Authorized>
				<MudNavLink Href="/admin/dashboard"
							Icon="@Icons.Material.Filled.AdminPanelSettings"
							IconColor="Color.Primary"
							Style="color:white">
					Admin
				</MudNavLink>
			</Authorized>
		</AuthorizeView>

		<AuthorizeView>
			<Authorized>
				<MudMenu ActivationEvent="MouseEvent.MouseOver"
						 Class="@($"d-none d-md-block {IsOnAccountPage()}")"
						 PopoverClass="popover-menu">
					<ActivatorContent>
						<div class="d-flex align-center cursor-pointer">
							<MudIcon Icon="@Icons.Material.Filled.AccountCircle"
									 Color="Color.Primary"
									 Class="mr-2" />
							<MudText Typo="Typo.body1" Class="text-nowrap">Manage Account</MudText>
						</div>
					</ActivatorContent>
					<ChildContent>
						<MudMenuItem Href="/account/manage" Icon="@Icons.Material.Filled.Settings" IconColor="Color.Primary" Style="color:white">Manage</MudMenuItem>
						<MudMenuItem Href="/mytours" Icon="@Icons.Material.Filled.Event" IconColor="Color.Primary" Style="color:white">My Tours</MudMenuItem>
						<MudMenuItem Href="/account/logout" Icon="@Icons.Material.Filled.Logout" IconColor="Color.Primary" Style="color:white">Logout</MudMenuItem>
					</ChildContent>
				</MudMenu>

			</Authorized>
			<NotAuthorized>
				<MudNavLink Href="/account/login"
							Icon="@Icons.Material.Filled.Login"
							IconColor="Color.Primary"
							class="d-none d-md-block">Login/Register</MudNavLink>
			</NotAuthorized>
		</AuthorizeView>
		<MudNavLink Href="/tours"
					Icon="@Icons.Material.Filled.Map"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">Upcoming Tours</MudText>
		</MudNavLink>
		<MudNavLink Href="/privatetours"
					Icon="@Icons.Material.Filled.Create"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">Private Tours</MudText>
		</MudNavLink>
		<MudNavLink Href="/about"
					Icon="@Icons.Material.Filled.Person"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">About Me</MudText>
		</MudNavLink>
		@* <MudNavLink Href="/giftvoucher" 
             Icon="@Icons.Material.Filled.CardGiftcard" 
             IconColor="Color.Primary"
             Match="NavLinkMatch.Prefix" 
             Class="d-none d-md-block" 
             ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">Gift Vouchers</MudText>
		</MudNavLink> *@
		<MudNavLink Href="/contact"
					Icon="@Icons.Material.Filled.Email"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">Contact Us</MudText>
		</MudNavLink>
		<MudNavLink Href="/gallery"
					Icon="@Icons.Material.Filled.PhotoLibrary"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">Image Gallery</MudText>
		</MudNavLink>
		<MudNavLink Href="/news"
					Icon="@Icons.Material.Filled.Newspaper"
					IconColor="Color.Primary"
					Match="NavLinkMatch.Prefix"
					Class="d-none d-md-block"
					ActiveClass="navlink-match">
			<MudText Class="text-center" Typo="Typo.body2">News</MudText>
		</MudNavLink>
		
	</MudAppBar>
	<MudDrawer  @bind-Open="_drawerOpen" Color="Color.Primary" >
		<MyNavMenu/>
	</MudDrawer>
	<MudMainContent>
		@Body
	</MudMainContent>
	<MudContainer MaxWidth="MaxWidth.Large" Class="mt-16 pb-8 px-8" Style="">
		<MudDivider Class="mb-4" />
		<MudPaper Elevation="0" Class="py-4" Style="background-color: white">
			<MudContainer MaxWidth="MaxWidth.Large" Class="d-flex flex-column flex-md-row justify-center justify-md-between align-center">
				<MudText Typo="Typo.body2">&copy; @DateTime.Now.Year - Neil Senior Bird Walks</MudText>
				<MudStack Row="true" Spacing="2" Class="mt-2 mt-md-0">
					<MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" Href="https://facebook.com" Target="_blank" />
					<MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" Href="https://x.com/NeilSeniorLtd" Target="_blank" />

				</MudStack>
			</MudContainer>
		</MudPaper>
	</MudContainer>
</MudLayout>

<style>
	.popover-menu {
		background-color: var(--mud-palette-tertiary) !important;
	}
</style>

@code {
	private string IsOnAccountPage()
	{
		var currentUri = NavigationManager.Uri.ToLower();
		return currentUri.Contains("/account/") || currentUri.Contains("/mytours") ? "navlink-match" : "";
	}
	
}

	
	

	

	
